/* RTL mode */
/* LTR mode */
.warp#my_account__tabs .section__title {
  font-size: 2rem;
  line-height: 1.333;
  font-weight: 400;
  padding: 1.8rem 0;
}
.warp#my_account__tabs .section__content__block {
  width: 100%;
}
.warp#my_account__tabs .section__form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.warp#my_account__tabs .input__container {
  position: relative;
  width: 20%;
  max-width: 310rem;
}
.warp#my_account__tabs .input__container label {
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  font-size: 1.3rem;
  color: #7f7f7f;
}
.warp#my_account__tabs .input__container input {
  width: 87%;
}